.searchbar {
  margin-left: 100px;
  height: 35px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#searchInput {
  height: 100%;
  width: 80%;
  margin-left: -140px;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px transparent;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  padding: 0 10px;
  box-sizing: border-box;
}

#searchIcon {
  height: 100%;
  width: 30px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: rgb(73, 73, 241);
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Responsive Searchbar */
@media screen and (max-width: 768px) {
  .searchbar {
    margin-left: 0;
    width: 100%;
    height: 40px;
    margin-top: 10px;
  }
  
  #searchInput {
    width: calc(100% - 40px);
    margin-left: 0;
    text-align: left;
    padding-left: 15px;
  }
  
  #searchIcon {
    width: 40px;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 480px) {
  .searchbar {
    height: 38px;
  }
  
  #searchInput {
    font-size: 14px;
  }
}
